.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

$darkblue: #272f48;

.toolbar {
  border-bottom: 1px solid $darkblue;
  padding: 20px 50px 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    display: inline-flex;
    font-size: 34px;
  }
  .toolbar-info {
    display: inline-flex;
    .toolbar-item {
      padding-left: 50px;
      font-size: 20px;
    }
  }
}

.container-box {
  display: flex;
  margin: 50px 100px 0px 250px;
  justify-content: space-between;
  align-items: flex-end;
  .background-box {
    border-radius: 55px;
    background-color: blueviolet;
    width: 610px;
    height: 838px;
    position: relative;
    .trans-box {
      background-color: rgb(255, 255, 255, 0.24);
      box-shadow: -19px 20px 14px rgb(0, 0, 0, 0.16);
      border-radius: 57px;
      position: absolute;
      width: 678px;
      height: 617px;
      top: 88px;
      left: 75px;
      padding: 45px;
      .name {
        font-size: 86px;
      }
      .description {
        margin-top: 25px;
        font-size: 36px;
      }
    }
  }
  .background {
    width: 900px;
    height: 500px;
  }
  .people {
    width: 200px;
    height: 600px;
    position: absolute;
    right: 600px;
    top: 376px;
  }
  .title-box {
    background-color: white;
    border-radius: 31px;
    font-size: 86px;
    padding: 14px 38px 14px 38px;
    box-shadow: 14px 17px 6px rgb(0, 0, 0, 0.16);
    position: absolute;

  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
